/*Globales*/

/*Globales*/
html{
    font-size: 62.5% ; /* equivale 1 rem a 10 px */
}
body{
    font-family: 'Lato', sans-serif;
    margin: auto;
    padding: auto;
}
h2{
    font-size: 4rem;
    font-weight: 500;
}
h3{
  font-size: 3rem;
  font-weight: 300;
}

p{
    font-size: 1.6rem;
}

li{
    font-size: 1.3rem;
}

/* Utilidades */
.marco{
  margin: 0 20rem;
}


.centrar-texto{
  display: flex;
  justify-content: center;

}

.fw-300{
  font-weight: 300;
}
.fw-500{
 font-weight:500;
}
  
.fw-700{
  font-weight:700;
 }




/* Botones */

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .6rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
}

.boton-inicioSesion{
    background: #1A8FDD;
    border-radius: .4rem;
    backdrop-filter: blur(0.2rem);
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #ffffff;
}

.boton-registroCursante{
    background: #1A8FDD;
    border-radius: .4rem;
    backdrop-filter: blur(0.2rem);
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}

.boton-registroCreador{
    background: #ffffff;
    border-radius: .4rem;
    backdrop-filter: blur(0.2rem);
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #000000;
    border-style: solid;
    border-width: .1rem;
    border-color: #1A8FDD;
    text-decoration: none;
}

.boton-newsletter{
  background: #CC2600;
  border-radius: .4rem;
  backdrop-filter: blur(0.2rem);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  border-style: solid;
  border-width: .1rem;
  border-color: #000000;
  text-decoration: none;
  margin: 0;
}


/* Barra */

.container-bar{
    background: rgba(105, 201, 208, 0.37);
    background-size: cover;
    padding: 2rem;
}

.barra{
    margin: 0 20rem;
    display: flex;
    justify-content: space-between;
    
}

/* Principal*/

.container-main{
    background: rgb(255, 255, 255);
    background-size: cover;
    padding: 2rem;
}

.container{
    margin: 0 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .texto{
    margin-bottom: 10rem;
}

.container .texto h1{
    font-size:8.5rem;
    font-weight: 700;
   padding-bottom: 6rem;
}

.container .texto p{
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10rem;
}

.botones a{
    margin-right: 5rem;
}


.imagen-main img{ 
   width: 100%;
}

/* Cursos destacados*/
.container-cursos{
    background: rgba(139, 140, 137, 0.14);  
    height: 100%;
}
.container-frameCursos .cursosDestacados{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



/* Cursos recientes*/
.container-rec{
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 295%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 90rem;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
     
    
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }


  .slider .curso1{
    background-image: url(/img/curso1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80rem;
  }

  .curso1 {
    display: flex;
    padding: 2rem;
    color: #ffffff;
    align-items: flex-end;
  }

  .curso1 p{
    font-size: 9rem;
  }

  .slider .curso2{
    background-image: url(/img/curso2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80rem;
  }

  .curso2 {
    display: flex;
    padding: 2rem;
    color: #ffffff;
    align-items: flex-end;
  }

  .curso2 p{
    font-size: 9rem;
  }

  .slider .curso3{
    background-image: url(/img/curso3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80rem;
  }

  .curso3 {
    display: flex;
    padding: 2rem;
    color: #ffffff;
    align-items: flex-end;
  }

  .curso3 p{
    font-size: 9rem;
  }


  /* ¿Qué es Conoce tu pasión?*/

  .container-info{
    background: rgba(139, 140, 137, 0.14);  
    height: 100%;
  }

  .container-frame{
    margin: 0 20rem;
  }

  .container-frame h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .container-frame .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10rem;
    justify-content: space-between;
  }

.info .icono1{
  display: flex;
  width: 50%;
}
.info .icono1 img{
  display: flex;
  padding: 3rem;
}

.info .icono2{
  display: flex;
  width: 50%;
}
.info .icono2 img{
  display: flex;
  padding: 3rem;
}

.info .icono3{
  display: flex;
  width: 50%;
}
.info .icono3 img{
  display: flex;
  padding: 3rem;
}

.info .icono4{
  display: flex;
  width: 50%;
}

.info .icono4 img{
  display: flex;
  padding: 3rem;
  width: 8rem;
}


  /* Sección Enfoque */

  .container-frameEnfoque{
    margin: 0 20rem;
    display:flex;
    align-items: center;
    height: 50rem;
  }

  .container-frameEnfoque h2{
    font-weight: 600;
    font-size: 5rem;
  }

  .container-frameEnfoque img{
    width: 50%;
  }


  /* Sección Próximamente*/

  .container-proximamente{
    background: rgba(139, 140, 137, 0.14);  
  }

  .container-frameProximamente{
    margin: 0 20rem;
  }
  .container-proximamente h2{
    padding: 5rem;
  }

  .cursosProximamente{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
  }

  .icono{
    padding: 4rem;
  }


  /* Que te ofrece conoce tu pasión */
  /* Cursante */

  .container-ofrece h2{
    padding: 5rem;
  }

  .container-frameOfrece{
    margin: 0 20rem;
  }

  .frame-cursante{
    display: flex;
    justify-content:center ;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10rem;
  }

  .frame-cursante .texto{
    width: 50%;
  }

  .frame-cursante .texto h3{
    font-size:4.5rem ;
    padding-bottom: 4rem;
  }

  .frame-cursante .texto li{
    font-size:3.2rem ;
    line-height: 6rem;
  }

  .frame-cursante img{
    padding-right: .1rem;
  }

  /* Creador */
  .frame-creador{
    display: flex;
    justify-content:center ;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
    
  }

  .frame-creador .texto{
    width: 50%;
  }

  .frame-creador .texto h3{
    font-size:4.5rem ;
    padding-bottom: 4rem;
  
  }

  .frame-creador .texto li{
    font-size:3.2rem ;
    line-height: 6rem;
  }

  .frame-creador img{
    padding-right: .1rem;
  }


   /* Sección categorías */
   .container-categorias{
    background: rgba(139, 140, 137, 0.14); 
    padding: 5rem;
   }

   .container-frameCategorias{
    display: flex;
    justify-content: space-between;
   }

   .lista-categorias {
    display: flex;
    line-height: 2.3rem;
   }

   .lista-categorias li{
    font-size: 2rem;
   }

   .frame-newsletter{
    justify-content: center;
    text-align: center;
   }

   .frame-newsletter input{
    padding: 1rem;
    background: rgba(139, 140, 137, 0.34);
    border-radius: .5rem;
    border-color: rgba(139, 140, 137, 0.34);;
   }

   /* Footer*/

   footer{
    background: rgba(0, 0, 0, 0.71);
   }
   .container-fotter{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
   }

   .logo{
    width: 40%;
    padding: 4rem;
   }

   .redes{
    justify-content: center;
    padding: 4rem;
    
   }
   
  .icono-redes img{
  padding:.5rem ;
  width: 6rem;
  height: 6rem;
   }
   